# App
DEBUG=True
SECRET_API_KEY=come_up_with_your_own_key
# Database
DB_NAME=gis_catalog
DB_USER=postgres
DB_PASSWORD=your_own_password_here
DB_HOST=localhost
#DB_HOST=db
DB_PORT=5432
# Hosts
ALLOWED_HOSTS=localhost,127.0.0.1